<!DOCTYPE html>
<html lang="en" ng-app="wwc_contain-app">
<head>
    <meta charset="UTF-8">
    <script src="../../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../../bower_components/angular/angular.js"></script>

    <script src="../../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <link rel="stylesheet" href="../../../bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="../../../bower_components/angular-bootstrap/ui-bootstrap-csp.css"/>
    <link rel="stylesheet" href="./../css/stao.css"/>
    <script src="app.js"></script>
    <script src="ctrl.js"></script>
    <title>万物仓</title>
    <style>
        .color-online{
            color: #00A000;
        }
        .color-offline{
            color: #a00510;
        }
    </style>
</head>

<body ng-controller="wwc_contain_ctrl">
<div class="panel panel-default">

    <div style="padding-bottom: 30px"></div>
    <form class="form-inline">
        <div class="form-group">
            <label >设备名</label>
            <input type="text" class="form-control" ng-model="device.key" placeholder="设备名">
        </div>
        <div class="form-group">
            <label >设备SN</label>
            <input type="text" class="form-control" ng-model="device.deviceSN"  placeholder="设备SN">
        </div>
        <div class="form-group">
            <label >设备ID</label>
            <input type="text" class="form-control" ng-model="device.deviceID"  placeholder="设备ID">
        </div>
        <div class="form-group">
            <label >时间范围/天</label>
            <input type="text" class="form-control" ng-model="device.day"  placeholder="时间/天">
        </div>
        <button type="submit" ng-click="device.getDeviceHistory()" class="btn btn-default">查询</button>
    </form>
    <div style="padding-bottom: 30px"></div>
    <!-- Default panel contents -->
    <div class="panel-heading">设备状态</div>

    <!-- Table -->
    <table class="table">
        <table class="table">
            <thead>
            <tr>
                <th>序号</th>
                <th>设备名</th>
                <th>设备ID</th>
                <th>设备SN</th>
                <th>状态</th>
                <th>时间</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in device.history">
                <th scope="row">{{$index + 1}}</th>
                <td>{{item.deviceName}}</td>
                <td>{{item.deviceID}}</td>
                <td>{{item.deviceSN}}</td>
                <td ng-class="{'color-online':(item.deviceStatus==1),'color-offline':!(item.deviceStatus==1)}">{{item.deviceStatus==1?'在线':'离线' }}</td>
                <td>{{item.createDate}}</td>
            </tr>

            </tbody>
        </table>
    </table>
</div>
</body>
</html>