<div>
    <div class="stao-project-content">
        <div class="project-list">
            <div class="media stao-project-list" ng-repeat="item in project_list.data">
                <div class="media-left">
                    <a ng-href="{{'./detail/detail.html?projectID='+ item.id + '&projectName='+ item.name}}">
                        <!--<a ui-sref="project({projectSalesID: 1, projectName: 2})">-->
                        <img class="media-object" src="http://114.55.42.174:9090/api/images?imgName=iocn.png" alt="64x64"
                             style="width: 64px; height: 64px;">
                    </a>
                </div>
                <div class="media-body">
                    <a ng-href="{{'./detail/detail.html?projectID='+ item.id + '&projectName='+ item.name}}"
                       class="media-heading stao-project-title">{{item.name}}</a>
                    <span class=""><span class="stao-project-span">区域：</span>{{item.region}}</span>
                    <!--<span class=""><span class="stao-project-span">昨日成交：</span>{{item.saleCountByTime}}套</span>-->
                    <!--<span class=""><span class="stao-project-span">昨日均价：</span>{{item.salePriceByTime}}元</span>-->
                    <span class=""><span class="stao-project-span">预售总套数：</span>{{item.count}}套</span>
                    <span class=""><span class="stao-project-span">位置：</span>{{item.detailAddress}}</span>
                    <span class=""><span class="stao-project-span">房屋用途：</span>{{item.useType}}</span>

                </div>
            </div>
            <div class="stao-project-page">
                <ul uib-pagination total-items="page.totalItems" ng-model="page.curPage" max-size="page.maxSize"
                    items-per-page="page.pageSize" last-text="{{page.last_text}}" next-text="{{page.next_text}}"
                    previous-text="{{page.previous_text}}"
                    class="pagination-sm pull-right" boundary-links="true" ng-change="pageChanged('', '')"
                    first-text="{{page.first_text}}"></ul>
            </div>
        </div>
    </div>
</div>