
<div class="col-sm-6">
    <header></header><section></section><nav></nav>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title index-inline-block">最新评论</h3>
            <a class="stao-index-house-detail" href="./html/forum/comment_list/comment_list.html">更多</a>
        </div>
        <div class="panel-body">
            <div ng-repeat="item in top.latestComment">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle media-object-img" ng-src="{{item.userURL}}" alt="64x64">
                        </a>
                    </div>
                    <div class="media-body">
                        <dt title="{{item.articleTitle}}" class="text-omit text-omit-index-article">
                            <a ng-href='{{"html/forum/article/article_show/article_show.html?articleID=" + item.articleID}}'
                               target="_blank" rel="nofollow">
                                    {{item.articleTitle}}
                            </a>
                        </dt>
                        <p style="color:rgb(162, 162, 179);">
                            by <a href="/news/submitted.php?uid=953" target="_blank">@{{item.userName}}</a>
                            {{dateUtil.timeUtil.elapsedTime(item.commentDate)}}
                            <a href="/news/item.php?id=4653">评论
                            </a>
                        </p>
                        <div class="list-comment-num">
                            <a href="#" title="评论数"><span class="badge">{{item.commentCount}}</span></a>
                        </div>
                    </div>
                </div>
                <hr ng-if="$index < (top.latestComment.length -1)">
            </div>
        </div>
    </div>
</div>
</div>