<div class="sign-dialog-top">
    <uib-accordion close-others="oneAtATime">
        <div uib-accordion-group class="panel-default" is-open="project.open">
            <uib-accordion-heading>
                <i class="fa fa-bars" aria-hidden="true"></i> {{projectName}} <i class="pull-right glyphicon"
                                                                                 ng-class="{'glyphicon-chevron-down': project.open, 'glyphicon-chevron-right': !project.open}"></i>
            </uib-accordion-heading>
            <div class="project-detail">
                <span class="col-md-4 col-sm-4"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 区域：{{project.detail.projectRegion}}</span>
                <span class="col-md-8 col-sm-4">地址：{{project.detail.projectAddress}}</span>
                <span class="col-md-4 col-sm-4"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 批地时间：{{project.detail.transferDate.split(" ")[0]}}</span>
                <span class="col-md-8 col-sm-4">土地出让合同：{{project.detail.transferNo}}</span>
                <span class="col-md-4 col-sm-4"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 预售总套数：{{project.detail.projectCount}}</span>
                <span class="col-md-8 col-sm-4">房产证编号：{{project.detail.housePropertyCard}}</span>
                <span class="col-md-4 col-sm-4"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 使用年限：{{project.detail.projectUsePeriod}}</span>
                <span class="col-md-8 col-sm-4">土地用途：{{project.detail.projectLandType}}</span>
                <span class="col-md-4 col-sm-4"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> 房屋用途：{{project.detail.houseUseType}}</span>
                <span class="col-md-8 col-sm-4">开发商：{{project.detail.developers}}</span>
            </div>
        </div>

        <div uib-accordion-group class="panel-default uib-margin-top" is-open="true">
            <uib-accordion-heading>
                <div ><i class="fa fa-line-chart" aria-hidden="true"></i> 备案价格表 <i class="pull-right glyphicon"
                                                                                                         ng-class="{'glyphicon-chevron-down': sales.open, 'glyphicon-chevron-right': !sales.open}"></i>
                </div>
            </uib-accordion-heading>
            <div ng-include="'../../../../tpl/project/new_project/detail/chart.html'"></div>


        </div>

        <div uib-accordion-group class="panel-default uib-margin-top" is-open="houses.open">
            <uib-accordion-heading>
                <div ng-click="houses.selectFloor()"><i class="fa fa-print" aria-hidden="true"></i> 户型详情 <i
                        class="pull-right glyphicon"
                        ng-class="{'glyphicon-chevron-down': houses.open, 'glyphicon-chevron-right': !houses.open}"></i>
                </div>
            </uib-accordion-heading>

            <div class="row forum-article-plate">
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">楼栋</span>
                        <ui-select on-select="houses.selectFloor()" ng-model="houses.record.selected"
                                   theme="bootstrap">
                            <ui-select-match placeholder="选择楼栋">{{$select.selected.buildingName}}
                            </ui-select-match>
                            <ui-select-choices repeat="item in houses.record.floors | filter: $select.search">
                                <span ng-bind-html="item.buildingName | highlight: $select.search"></span>
                            </ui-select-choices>
                            <ui-select-no-choice>
                                {{houses.record.ui_select_no_choice}}
                            </ui-select-no-choice>
                        </ui-select>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
                <div class="stao-index-house-detail">
                    <div class="input-group">
                        <span >备案均价 <span style="color: #0389f3;">{{houses.record.recordPrice}} 元/平米</span></span>
                    </div>
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <hr />
            <uib-tabset active="houses.activeForm">

                <uib-tab  index="$index" select="queryHouseList(item.useType)" ng-repeat="item in project.useType">
                    <uib-tab-heading>
                        {{item.useType }}<span ng-show="houses.activeForm==$index" class="badge"> {{house_list.totalItems}}</span>
                    </uib-tab-heading>

                    <div class="project-detail-house-list"
                         ng-include="'../../../../tpl/project/new_project/detail/house_list.html'"></div>
                </uib-tab>
            </uib-tabset>

        </div>

        <!--暂时不实现-->
        <!--<div uib-accordion-group class="panel-default" is-open="houses.open">-->
            <!--<uib-accordion-heading>-->
                <!--<div><i class="fa fa-braille" aria-hidden="true"></i> 销控表 <i class="pull-right glyphicon"-->
                                                                             <!--ng-class="{'glyphicon-chevron-down': houses.open, 'glyphicon-chevron-right': !houses.open}"></i>-->
                <!--</div>-->
            <!--</uib-accordion-heading>-->
            <!--销控表(图片中显示户型、面积、是否签约、预售价格)-->

        <!--</div>-->
    </uib-accordion>
</div>