<div class="project-detail-house-list" ng-controller="UserInfoCtrl">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">我的信息</div>


        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">
                <h4>头像</h4>
                <div class="meta-right"><a href="#" ng-click="updatePicture()">修改</a></div>
                <div class="meta-content"><img class="media-object-img" ng-src="{{user.profilePhotoURL}}"></div>
            </li>
            <li class="list-group-item">
                <h4>昵称</h4>
                <div class="meta-right"><span>不可修改</span></div>
                <div class="meta-content">{{user.nickname}}</div>  <!--不可修改-->
            </li>
            <li class="list-group-item">
                <h4>性别</h4>
                <div class="meta-right"><a href="#">修改</a></div>
                <div class="meta-content">{{user.gender}}</div>
            </li>
            <li class="list-group-item">
                <h4>积分</h4>
                <div class="meta-right">
                    <span>发一次贴得10分，回复一次得1分</span>
                    <a>详情</a>
                </div>
                <div class="meta-content">{{user.points}}</div>
            </li>
            <li class="list-group-item">
                <h4>手机号</h4>
                <div class="meta-right"><a>更换</a></div>
                <div class="meta-content">{{user.phone}}</div>
            </li>
            <li class="list-group-item">
                <h4>职业</h4>
                <div class="meta-right"><a href="#">{{user_status[user.status - 1]}}</a></div>
                <div class="meta-content">{{user_jobs[user.type - 1]}} <i ng-class="{'fa fa-check-circle fa-lg':true}"
                                                                          style="color:#f57f02" aria-hidden="true"></i>
                </div>
            </li>
            <li class="list-group-item">
                <h4>个人介绍</h4>
                <div class="meta-right"><span>不可出现联系方式或网址</span> <a href="#">编辑</a></div>
                <div class="meta-content">{{user.selfIntroduction}}</div>
            </li>
        </ul>
    </div>
    <script type="text/ng-template" id="updatePictureDialog">
        <div class="ngdialog-message">
            <div class="">
                <div class="dialog-upload-content">
                    <div class="dialog-upload-image">
                        <input class="file-name stao-inline-block" type="text" readonly="readonly" ng-model="imgFile.file.name"/>
                        <a href="javascript:;" class="stao-inline-block">
                            <input type="file" class="upload stao-inline-block" name="certificate"  nv-file-select uploader="uploaderImg" ng-click="clearItems()"/> <span class="btn btn-default">浏览</span>
                        </a>
                    </div>

                    <div style="margin-top: 6px" ng-show="imgFile.showProgress&&uploaderImg.isHTML5">
                        <div class="progress" style="width:217px;margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar"
                                 ng-style="{ 'width':  uploaderImg.queue[0].progress + '%' }">
                                <div ng-show="imgFile.upload_success" style="color: #1bf503"><i class="fa fa-check-circle-o fa-lg" aria-hidden="true"></i> 修改成功</div></div>
                        </div>
                    </div>
                </div>

                <!--<div ng-show="uploaderImg.isHTML5" ng-thumb="{ file: uploaderImg.queue[0]._file, height: 100 }"></div>-->

            </div>
        </div>
    </script>
</div>
